<<<<<<< HEAD
/*
 * === Global style ===
 */

/* Body style */
body {
    margin: 0;
    padding: 0;
  }
=======
body {
    margin: 0px;
    padding: 0px
}
>>>>>>> adb935e52fdd7da0a5eb4a6a24cd9a73122614b2
