<<<<<<< HEAD
/*
 * === Global style ===
 */

/* Body style */
body {
    color: #484848;
    font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
=======
body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> adb935e52fdd7da0a5eb4a6a24cd9a73122614b2
