.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding: 0 10px;
}

.locations h3 {
    font-weight: 600;
}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
}
